canvas {
    height: 100% !important;
    background-color: black;
}

.body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .nav-links {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}